@charset "ISO-8859-1";

:root {
	--primary: #100760;
	--light: #FFFFFF;
	--primarylight: #E4E3ED;
}
body{
	color: var(--primarylight);
}

a {
	text-decoration: none;
}

#contenedor-perfil {
	min-height: 100vh;
}

.color-sidebar{
	background-color: var(--primarylight);
}

#contenedor-perfil .menu {
	width: 18rem;
}

#contenedor-perfil .logo {
	padding: .875rem 1.25rem
}

.bg-primary{
	background-color: var(--primary) !important;
}
.bg-light{ background-color: var(--light) !important;}
.bg-mix{ background-color: var(--primarylight);}



.estado {
	border-right: 1px solid;
	color: grey;
}
.iconos-sidebar{
	margin-right: 7px;
}



.flecha-izqda{
	margin-right: 10px;
}
.flecha-drcha{
	margin-left: 10px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
    border-width: medium;
    margin:5px 30px;
}

.texto{
	 text-align: right;
}

.mes{
	font-size: 20px;
	font-weight: bold;
}

#rojo{
	color:red !important;
}

#verde{
	color:green !important;
}

/************* CATEGORIAS *******************/

.img {
	max-width: 35px;
}

/************* Perfil *******************/

.text-color{
	color: #F4666F;
}
.modificar {
	
  display: "block";
}

